<ul class="section-ul">
    {{- range . -}}
    <li class="section-li">
        <div class="section">
            <div class="desc">
              <h4><a href="{{ .Permalink }}" class="internal-link" data-src="{{ .RelPermalink }}">{{- .Title -}}</a></h4>
            </div>
            <br>
            <p class="meta">
                {{partial "date-fmt.html" .}}
            </p>
            <br>
            <ul class="tags">
                {{ range (.GetTerms "tags") }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle | title}}</a></li>
                {{ end }}
            </ul>
        </div>
    </li>
    {{- end -}}
</ul>
